MODEL_CACHE_DIR=./.cache/huggingface
LLVM_TMP_DIR=/tmp
RAG_INPUT_JSON=./arm_rag_data.json
RAG_OUTPUT_JSON=./arm_rag_data_dedup.json
RAG_DEDUP_SQLITE=./dedup_cache.db
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
