openai==1.57.0
angr==9.2.162
capstone==5.0.3
networkx==3.4.2
datasketch==1.6.5
editdistance==0.8.1
tqdm==4.66.6
numpy==1.26.4
torch==2.5.1
transformers==4.46.2
faiss-gpu==1.7.2
scipy==1.13.1
scikit-learn==1.7.0